/*
/* LOADER SPINNER
/*-----------------------------------------------------*/


/* make sure loader spinner target el has position defined */

div.loader-spinner-overlay {
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.7) url('spinner.gif') no-repeat center center;
	position: absolute;
	left: 0;
	top: 0;
}
